@charset "UTF-8";

::-webkit-scrollbar{ /*Este comando serve para manipular a barra de rolagem da página, no caso sumir com ela.*/
    margin: 0;
    height: 0;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100vw;
}

a{
    display: block;
    background-color: darkred;
    color: white;
    padding: 20px;
}