@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

body{
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

main{
    height: 100vh;
}

#caixa-telefone{
    display: flex;
    justify-content: center;
}

#telefone{
    width: 311px;
    height: 627px;
    display: flex;
    justify-content: center;
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#tela{
    position: relative;
    top: 80px;
    height: 471px;
    width: 265px;
}

#links{
    text-align: center;
}

#links img{
    top: 0px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.272);
    box-sizing: border-box; /*Serve para colocar a borda como parte do objeto.*/
}

#links img:hover{
    transition: .25s;
    position: relative;
    top: -5px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.553);
    border: 2px solid white;
}